{% extends 'myadmin/school/school_base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<div class="thead">
  <h1>Delete Course</h1> 
</div>
<br><br><br><br><br>
<div style="margin-left: 350px;">
	<h1>Book Delete</h1>
<form method="post">{% csrf_token %}
	<div class="alert alert-danger" role="alert" style="width: 80%;">
    	Are you sure you want to delete "{{ object }}" ?
   		<input type="submit" value="Submit" / class="btn btn-danger">
	</div>
	</form>
</div>

</dir>
{% endblock %}