<!DOCTYPE html>
{% load static %}
<html>
<head>
  <title>Ecom</title>
  <script type="text/javascript">
  var x = '{{ request.build_absolute_uri }}';
  var y = 'http://{{full_address}}:8000/';
  if(x != y){
    window.location.href = y;
  }
  else{
    console.log('lllll')
  }
 
</script>
  <link rel="shortcut icon" href="{% for customize in customize %}/media/{{customize.favicon}}{% endfor %}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/das.css' %}">


  <script type="text/javascript">
    var user = '{{request.user}}'

    function getToken(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getToken('csrftoken')
  
  </script>
<style>

</style>
</head>
<body style="background-image: url('{% for customize in customize %}/media/{{customize.homepageimage}}{% endfor %}'); font-family: font-family: system-ui;">


 

<nav class="navbar navbar-expand-lg navbar-dark " id="main-navbar" style="background-color: {% if customize %} {% for customize in customize|slice:"0:1"  %}{{ customize.navbar }}{% endfor %}{% else %}blue{% endif %} ;" >
  <a class="navbar-brand" id="main-brand" href="/" >{% if school %} {% for school in school|slice:"0:1"  %}{{ school.name }}{% endfor %}{% else %}Your Site{% endif %} </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>












  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav" style="margin-left: 400px;" >
      {% if user.is_superuser %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user-circle"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/admin">Admin</a>
            <a class="dropdown-item" href="/new/{{request.tenant.id}}">Manage subdomain</a>
            <a class="dropdown-item" href="/accounts/logout">Logged out user</a>
          </div>
        </li>
      {% endif %}
      {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="/cart">Cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/course">All Courses</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Privew as
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Logged in user</a>
            <a class="dropdown-item" href="#">Logged out user</a>
          </div>
        </li>

      {% else %}
      <li class="nav-item">
          <a class="nav-link" href="accounts/login/" style="margin-left: 400px;">Login</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" id="signup" href="accounts/register/">Signup</a>
      </li>
      {% endif %}
    </ul>
    
  </div>
</nav>


{% block content %}


{% endblock content %}


<footer class="footer" style="background-color: {% for customize in customize|slice:"0:1"  %}{{customize.footer}}{% endfor %};">
  <div class="col-xs-12 col-sm-4 col-md-4 footer-column" style="text-align: center;">
      <p>
          ©
           {% if school %} {% for school in school|slice:"0:1"  %}{{ school.name }}{% endfor %}{% else %}Your Site{% endif %}
          2020
        </p>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 footer-column" id="terms">
      <div class="container" >
        <div class="row">
          <div class="col-sm" class="footer-terms"  id="footer-terms">
            Terms of Use Privacy Policy
          </div>
          <div class="col-sm" class="footer-powerd" id="footer-powerd">
            Powered by Educhum
          </div>
          
        </div>
</div>
     
      
                    
                
          
        
  </div>

</footer>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
</body>
</html>