{% extends 'myadmin/school/school_base.html' %}
{% load static %}
{% block content %}

<!-- Navbar start here-->

<!-- Navbar end here-->

<!-- main heading start here-->
<div class="thead" id="myyyy">
  <h1>New Course</h1> 
  <a class="plan2" id="plan2" href="/admin/leason/home">Leason</a> 

</div>

<br><br><br><br><br>
<!-- main heading end here-->

<!--  schoolheading start here-->
<div class="day" id="id-day">
  <h3>Information</h3>
  <span style="width: 10%; font-size: 12px;" id="id-day">Add basic information about the course and author name.<br>

To add author headline, image, and bio, please visit site > bios.</span>
</div>
<!--  schoolheading end here-->

<!-- school form start here-->
<form method="post" class="form-horizontal" enctype="multipart/form-data" id="id-form-horizontal"> 
    {% csrf_token %}

    

<div id="div_id_name" class="form-group"> 
    <label for="id_name" class=" requiredField control-label">Course title<span class="asteriskField">*</span> </label> 
    <div class=""> <input type="text" name="name" {% if form.name.value != None %}value="{{ form.name.value|stringformat:'s' }}"{% endif %}maxlength="200" class="textinput textInput form-control" required="" id="id_name" > </div> 
</div> 
<div id="div_id_price"  class="form-group"> 
    <label for="id_price" class=" requiredField control-label">Price<span class="asteriskField">*</span> </label> 
    <div class=""> 
        <input type="number" name="price"  step="any" class="numberinput form-control" required="" id="id_price" {% if form.price.value != None %}value="{{ form.price.value|stringformat:'s' }}" {% endif %}> 
    </div> 
</div> 
<div id="div_id_digital" class="form-group"> <label for="id_digital" class="control-label">Digital</label> 
    <div class=""> 
        <select name="digital" class="nullbooleanselect form-control" id="id_digital"> 
            <option value="unknown">Unknown</option> 
            <option value="true">Yes</option> 
            <option value="false" selected="">No</option>
        </select> 
    </div> 
</div> 
<div id="div_id_image" class="form-group"> <label for="id_image" class="control-label">Image </label> 
    <div class="">

        <input type="file" name="image" accept="image/*" class="btn btn-primary" id="id_image"> 
    </div> 
</div> 


<div id="div_id_subtitle" class="form-group"> 
    <label for="id_subtitle" class="control-label">Subtitle</label> 
    <div class=""> 
        <input type="text" name="subtitle" maxlength="100" class="textinput textInput form-control" id="id_subtitle" {% if form.subtitle.value != None %}value="{{ form.subtitle.value|stringformat:'s' }}" {% endif %}> 
    </div> 
</div> 



<div id="div_id_author" class="form-group"> <label for="id_author" class="control-label">Author </label> 
    <div class=""> 
        <select name="author" class="select form-control" id="id_author"> 
            <option value="" selected="">---------</option> 
            {% for product in products %}
            {% if product.product_author != post_author %}
            <option>{{products.author}}</option>
            {% endif %}
            {% endfor %}
        </select> 
    </div> 
</div> 
<div id="div_id_discription" class="form-group"> <label  for="id_discription" class="control-label">Discription</label> 
    <div class=""> <textarea  name="discription" cols="40" rows="10" class="textarea form-control" id="id_discription" >
    {% if form.discription.value != None %}{{ form.discription.value|stringformat:'s' }} {% endif %}</textarea> </div> 
</div>

    
    <button id="id-btn btn-primary" type="submit" value="submit" class="btn btn-primary btn-lg" >Save</button>
   
</form>

<!--  school form end  here-->

<hr style="margin-left: 270px;  ">
<div class="alert alert-info _3x1ps"  id="alert">
  <div ng-transclude="ng-transclude" ng-class="{ 'border-left': title }" class="alert-text-wrapper">
    <a ng-href="" href="" target="_blank" rel="noopener" style="color: #ea7e4d; text-decoration: underline;">Learn more</a>
    <span class="space"></span>
    <span ng-bind="text">about the transactions breakdown in the Educhum Knowledge Base</span>
  </div> 
</div>

<div class="tch-onboarding-header" style="padding-top: 100px;" >
    <div class="tch-onboarding-header-wrapper">
        <div class="tch-onboarding-header-body" id="id-tch-onboarding-header">
            <div class="steps-container">
                <ul class="steps">
                 
                    <li class="step step-disabled" style=" margin-top: -15px;
                    margin-left: -180px;" > <a class="step-link fastclickable"><span class="step-number" id="id-step-number">1</span><i class="checkmark-icon fa fa-check"></i><span id="id-step-disable">Add information</span></a> </li>
                
                    <li class="step step-disabled" style="margin-top: -15px; margin-left:   10px;"> 
                        <a class="step-link fastclickable" href="/admin/leason/new">
                            <span class="step-number" id="id-step-number2">2</span>
                            <i class="checkmark-icon fa fa-check"></i><span id="id-step-disable">  Add curriculum</span>
                        </a> 
                    </li>
                 
                    <li class="step step-disabled" style="margin-top: -15px; margin-left:   20px;"> <a class="step-link fastclickable"><span class="step-number" id="id-step-number2">3</span><i class="checkmark-icon fa fa-check"></i><span  id="id-step-disable">Add a price</span></a> </li>
                   
                    <li class="step step-disabled" style="margin-top: -15px; margin-left:   100px;"> <a class="step-link fastclickable" id="id-step-number2">Next ›</a> </li>
                    
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}